<extend name="Common/common" />
<block name="custom">
	<link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
</block>
<block name="content">
	<ul class="list">
		<li class="cf">
			<a href="story1.html">
				<div class="img_box fl">
					<img src="__HOME__images/a1.jpg" alt="" />
				</div>
				<div class="list_t fr">
					<h2>探望少年“第二季冠名，赞助召集令</h2>
					<span>2017.9.3</span>
				</div>
			</a>
		</li>
		<li class="cf">
			<a href="story1.html">
				<div class="img_box fl">
					<img src="__HOME__images/a1.jpg" alt="" />
				</div>
				<div class="list_t fr">
					<h2>探望少年“第二季冠名，赞助召集令</h2>
					<span>2017.9.3</span>
				</div>
			</a>
		</li>
		<li class="cf">
			<a href="story1.html">
				<div class="img_box fl">
					<img src="__HOME__images/a1.jpg" alt="" />
				</div>
				<div class="list_t fr">
					<h2>探望少年“第二季冠名，赞助召集令</h2>
					<span>2017.9.3</span>
				</div>
			</a>
		</li>
		<li class="cf">
			<a href="story1.html">
				<div class="img_box fl">
					<img src="__HOME__images/a1.jpg" alt="" />
				</div>
				<div class="list_t fr">
					<h2>探望少年“第二季冠名，赞助召集令</h2>
					<span>2017.9.3</span>
				</div>
			</a>
		</li>

	</ul>
</block>