<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>江湖故事</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
    <link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
</head>
<body>
<div id="content">
    <div class="text">
        <h5>{$data.title}</h5>
        <div class="cf" style="margin-bottom: 10px;">
            <span class="fr mark" news_id ='{$data.news_id}' type ='3'>
                <if condition="$keep eq null ">
                    <i></i>
                    <else />
                    <i class="active"></i>
                </if>
                收藏</span>
        </div>
        {$data.content}
    </div>
</div>
</body>
</html>
<script src="__HOME__js/zepto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(".mark i").on("click",function(){
        var collect = $('.mark').attr('news_id');
        var cate =$('.mark').attr('type');
        $.post("{:U('Common/keep')}",{collect:collect,cate:cate},function(data){
            if(data.state == 200 || data.state == 202){
                $(".mark i").toggleClass("active")
            }else{
                alert('操作失败！');
            }
        });
    })
</script>