<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>悬赏详情</title>
    <link href="__STYLE__css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="__STYLE__css/animate.min.css" rel="stylesheet">
    <link href="__STYLE__css/style.min.css?v=3.1.0" rel="stylesheet">
    <style>
        .droppable-active {
            background-color: #ffe !important;
        }

        .tools a {
            cursor: pointer;
            font-size: 80%;
        }

        .form-body .col-md-6,
        .form-body .col-md-12 {
            min-height: 400px;
        }

        .draggable {
            cursor: move;
        }
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>悬赏详情</h5>
                </div>
                <div class="ibox-content">
                    <form method="post" action="" role="form" class="form-horizontal m-t">
                        <div class="form-group draggable">
                            <label class="col-sm-3 control-label">悬赏名称：</label>
                            <div class="col-sm-3">
                                <input type="text" name="" disabled="disabled" class="form-control" value="{$data.re_title}">
                            </div>
                        </div>
                        <div class="form-group draggable">
                            <label class="col-sm-3 control-label">悬赏发布时间：</label>
                            <div class="col-sm-3">
                                <input type="text" name="" disabled="disabled" class="form-control" value="<?php echo date('Y-m-d H:i:s',$data['add_time']);?>">
                            </div>
                        </div>
                        <div class="form-group draggable">
                            <label class="col-sm-3 control-label">悬赏结束时间：</label>
                            <div class="col-sm-3">
                                <input type="text" name="" disabled="disabled" class="form-control" value="<?php echo date('Y-m-d H:i:s',$data['end_time']);?>">
                            </div>
                        </div>
                        <div class="form-group draggable">
                            <label class="col-sm-3 control-label">悬赏发布者：</label>
                            <div class="col-sm-3">
                                <input type="text" name="" disabled="disabled" class="form-control" value="<?php echo base64_decode($data['author'])?>">
                            </div>
                        </div>
                        <div class="form-group draggable">
                            <label class="col-sm-3 control-label">悬赏接收者：</label>
                            <div class="col-sm-3">
                                <input type="text" name="" disabled="disabled" class="form-control" value="<?php if($data['undertake']):?> <?php echo base64_decode($data['undertake'])?> <?php else:?> 暂未揭榜 <?php endif?>">
                            </div>
                        </div>
                        <div class="form-group draggable">
                            <label class="col-sm-3 control-label">悬赏接收时间：</label>
                            <div class="col-sm-3">
                                <input type="text" name="" disabled="disabled" class="form-control" value="<?php if($data['take_time'] != null):?> <?php echo date('Y-m-d H:i:s',$data['take_time']);?> <?php else:?> 暂未揭榜 <?php endif;?>">
                            </div>
                        </div>
                        <div class="form-group draggable">
                            <label class="col-sm-3 control-label">悬赏内容：</label>
                            <div class="col-sm-3">
                                <input type="text" name="" disabled="disabled" class="form-control" value="{$data.re_content}">
                            </div>
                        </div>
                        <div class="form-group draggable">
                            <label class="col-sm-3 control-label">悬赏封面图：</label>
                            <div class="col-sm-3">
                                <img width="500" height="300" src="__ROOT__/{$data.re_image}" alt="">
                            </div>
                        </div>
                        <div class="form-group draggable">
                            <label class="col-sm-3 control-label">悬赏内容图：</label>
                            <volist name="img" id="vo">
                                <div class="col-sm-2">
                                    <img width="150" height="200" src="__ROOT__/{$vo.re_picture}" alt="">
                                </div>
                            </volist>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group draggable">
                            <div class="col-sm-3 col-sm-offset-3">
                                <a class="btn btn-white" href="{:U('Award/index')}">取消</a>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>