<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>首页</title>
    <link href="__STYLE__css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="__STYLE__css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
    <link href="__STYLE__css/animate.min.css" rel="stylesheet">
    <link href="__STYLE__css/style.min.css?v=3.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>待审核悬赏</h3>
                    <p class="small"><i class="fa fa-hand-o-up"></i> 注意：</p>
                    <ul class="sortable-list connectList agile-list">
                        <li class="warning-element">
                            加强过程管理，及时统计教育经费使用情况，做到底码清楚，
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">标签</a>
                                <i class="fa fa-clock-o"></i> 2015.09.01
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>近期活动</h3>
                    <p class="small"><i class="fa fa-hand-o-up"></i> 注意：</p>
                    <ul class="sortable-list connectList agile-list">
                        <volist name="list" id="vo" >
                            <li class="success-element">
                                {$vo.act_title}
                                <br />
                                {$vo.act_detail}
                                <div class="agile-detail">
                                    <a href="{:U('Activity/update_activity',array('id'=>$vo['activity_id']))}" class="pull-right btn btn-xs btn-white">查看</a>
                                    <i class="fa fa-clock-o"></i> {$vo.add_time|date='Y-m-d',###}
                                </div>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>签名推广</h3>
                    <p class="small"><i class="fa fa-hand-o-up"></i> 注意：</p>
                    <ul class="sortable-list connectList agile-list">
                        <volist name="mark" id="vo">
                            <li class="info-element">
                                {$vo.content}
                                <div class="agile-detail">
                                    <a href="{:U('Genera/update_genera',array('id'=>$vo['id']))}" class="pull-right btn btn-xs btn-white">查看</a>
                                    <i class="fa fa-clock-o"></i> {$vo.add_time|date='Y-m-d',###}
                                </div>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- 全局js -->
<script src="__STYLE__js/jquery-2.1.1.min.js"></script>
<script src="__STYLE__js/bootstrap.min.js?v=3.4.0"></script>
<script src="__STYLE__js/jquery-ui-1.10.4.min.js"></script>

<!-- 自定义js -->
<script src="__STYLE__js/content.min.js?v=1.0.0"></script>

<script>
    $(document).ready(function () {
        $(".sortable-list").sortable({
            connectWith: ".connectList"
        }).disableSelection();

    });
</script>

<!--<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>-->
<!--统计代码，可删除-->

</body>

</html>