<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>story</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
   		<link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
   		<link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
	</head>
	<body>
		<div id="content">
			<div class="user-head">
				<div class="card-img" style="background: url(__HOME__images/a4.jpg) no-repeat center center;">
						<i class="head-big head" style="background: url(__HOME__images/mark.png);border: none;"></i>
				</div>
			</div>
			
			<div class="tuiguang">
				<h5>系统推广</h5>
				<p>满堂花醉三千客</p>
				<p>一剑寒霜十四粥</p>
				<div class="tuiguang_bottom">
					<span class="time">17-19-6</span>
					<span class="fr mark"> <i></i>收藏</span>
				</div>
			</div>
		</div>
	</body>
</html>
<script src="__HOME__js/zepto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
		$(".mark i").on("click",function(){
			$(this).toggleClass("active")
		})
</script>
