<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>story</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
   		<link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
   		<link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
	</head>

	<body>
		<ul class="list">
		
			<li class="cf">
				<a href="{:U('Activity/show')}">
					<div class="img_box fl">
						<img src="__HOME__images/a1.jpg" alt="" />
					</div>
					<div class="list_t fr">
						<h2>探望少年“第二季冠名，赞助召集令</h2>
						<span>2017.9.3</span>
						<p class="doing">进行中</p>
					</div>
				</a>
			</li>
			<li class="cf">
				<a href="{:U('Activity/show')}">
					<div class="img_box fl">
						<img src="__HOME__images/a1.jpg" alt="" />
					</div>
					<div class="list_t fr">
						<h2>探望少年“第二季冠名，赞助召集令</h2>
						<span>2017.9.3</span>
						<p class="did">已结束</p>
					</div>
				</a>
			</li>
			<li class="cf">
				<a href="{:U('Activity/show')}">
					<div class="img_box fl">
						<img src="__HOME__images/a1.jpg" alt="" />
					</div>
					<div class="list_t fr">
						<h2>探望少年“第二季冠名，赞助召集令</h2>
						<span>2017.9.3</span>
						<p class="doing">进行中</p>
					</div>
				</a>
			</li>
			<li class="cf">
				<a href="{:U('Activity/show')}">
					<div class="img_box fl">
						<img src="__HOME__images/a1.jpg" alt="" />
					</div>
					<div class="list_t fr">
						<h2>探望少年“第二季冠名，赞助召集令</h2>
						<span>2017.9.3</span>
						<p class="did">已结束</p>
					</div>
				</a>
			</li>
			
		</ul>
	</body>

</html>