<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>江湖直播</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
   		<link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
   		<link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
	</head>
	<body>
		<div id="zhibo">
			<ul>
				<li>	
					<a href="{:U('Live/show')}">
						<div class="video_box" style="background: url(__HOME__images/a1.png) no-repeat center center;">
							<h5>《7-17江湖记录片》</h5>
							<p>内容简介：江湖纪录片7-17 <span class="fr">2017-09-13</span></p>
							<i></i>
						</div>
					</a>
				</li>
				
				<li>	
					<a href="{:U('Live/show')}">
						<div class="video_box" style="background: url(__HOME__images/a1.png) no-repeat center center;">
							<h5>《7-17江湖记录片》</h5>
							<p>内容简介：江湖纪录片7-17 <span class="fr">2017-09-13</span></p>
							<i></i>
						</div>
					</a>
				</li>
				
				<li>	
					<a href="{:U('Live/show')}">
						<div class="video_box" style="background: url(__HOME__images/a1.png) no-repeat center center;">
							<h5>《7-17江湖记录片》</h5>
							<p>内容简介：江湖纪录片7-17 <span class="fr">2017-09-13</span></p>
							<i></i>
						</div>
					</a>
				</li>
			</ul>
		
		</div>
	</body>
</html>
