<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>江湖直播</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
   		<link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
   		<link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
	</head>
	<body>
		<div id="zhibo">
			<ul>
				<volist name="list" id="vo">
				<li>	
					<a href="{:U('Live/show')}">
						<div class="video_box" style="background: url(__ROOT__/{$vo.img}) no-repeat center center;">
							<h5>{$vo.so_title}</h5>
							<p>内容简介：{$vo.so_detail} <span class="fr">{$vo.add_time|date='Y-m-d',###}</span></p>
							<i></i>
						</div>
					</a>
				</li>
				</volist>
			</ul>
		
		</div>
	</body>
</html>
