<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
   		<link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
   		<link rel="stylesheet" type="text/css" href="__HOME__css/video-js.css"/>
   		<script src="__HOME__js/video.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
			<div id="video_xq">
				<div class="m">
					{$data.so_link}
					<!--<video id="my-video" class="video-js" controls preload="auto" height="200"-->
					  <!--poster="__HOME__images/a1.png" data-setup="{}">-->
						<!--<source src="http://ov9v9y2f7.bkt.clouddn.com/v0542vsanx6.p701.1.mp4" type="video/mp4">-->
					<!--</video>-->
					<!--<script type="text/javascript">-->
						<!--var myPlayer = videojs('my-video');-->
					<!--</script>-->
				</div>
				
				<div class="video_text">
					<h2>江湖记录片</h2>
					<p>发布人：系统管理 <span> <i></i>收藏</span> <em></em> </p>
					<p>2017-08-20</p>
					<p class="desc_text"> 是把求职者的形象与职业能力表述通过数码设备录制下来，经过对录制后的影像编辑及播放格式转换，在通过播放器播放的一种可以观看求职者影音形象的简历形式。视频简历凭借客观的影音。</p>
				</div>
				
				<div class="comment">
					<h2>评论</h2>
					<form action="" class="cf">
						<i style="background: url(__HOME__images/hd.jpg) no-repeat center center;"></i>
						<input type="text" name="" id="" value="" placeholder="我也说句话"/>
					</form>
					<ul>
						<li>
							<div class="cf">
								<div class="fl com_head">
									<i style="background: url(__HOME__images/hd.jpg) no-repeat center center;"></i>
								</div>
								<div class="fl com_text">
									<h5>古道的路 <span>评论<i></i></span></h5>
									<p class="time">28天前</p>
									<p>雄风漫卷，大争之世。<br>走进历史我们不难发现那些令我们</p>
								</div>
							</div>
							<form action="" method="post" class="cf pingl">
								<input type="text" name="" id="" value="" placeholder="评论"/>
							</form>
						</li>
						
						<li>
							<div class="cf">
								<div class="fl com_head">
									<i style="background: url(__HOME__images/hd.jpg) no-repeat center center;"></i>
								</div>
								<div class="fl com_text">
									<h5>古道的路 <span>评论<i></i></span></h5>
									<p class="time">28天前</p>
									<p>雄风漫卷，大争之世。<br>走进历史我们不难发现那些令我们</p>
								</div>
							</div>
							<form action="" method="post" class="cf pingl">
								<input type="text" name="" id="" value="" placeholder="评论"/>
							</form>
						</li>
						
						<li>
							<div class="cf">
								<div class="fl com_head">
									<i style="background: url(__HOME__images/hd.jpg) no-repeat center center;"></i>
								</div>
								<div class="fl com_text">
									<h5>古道的路 <span>评论<i></i></span></h5>
									<p class="time">28天前</p>
									<p>雄风漫卷，大争之世。<br>走进历史我们不难发现那些令我们</p>
								</div>
							</div>
							<form action="" method="post" class="cf pingl">
								<input type="text" name="" id="" value="" placeholder="评论"/>
							</form>
						</li>
					</ul>
				</div>
			</div>
</body>
</html>
<script src="__HOME__js/zepto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(".video_text em").on("click",function(){
		$(".desc_text").toggleClass("active")
	})
	
	$(".video_text i").on("click",function(){
		$(this).toggleClass("active")
	})
	
	$(".com_text span").on("click",function(){

		$(this).parent().parent().parent().siblings().toggleClass("active")
	})
</script>