<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>江湖直播</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
	<link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
	<link rel="stylesheet" type="text/css" href="__HOME__css/video-js.css"/>
	<script src="__HOME__js/video.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__HOME__js/video.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<style>
	.m iframe{
		width: 100%;
		height: 240px;
	}
</style>
<body>
<div class="iphone">
<div id="video_xq">
	<div class="m">
		{$data.so_link}
	</div>
	<div class="video_text" solive_id ='{$data.solive_id}' type ='2'>
		<h2>{$data.so_title}</h2>
		<p>发布人：{$data.so_author} <span>
			<if condition="$keep eq null ">
			<i></i>
			<else />
			<i class="active"></i>
			</if>
			收藏</span><em></em> </p>
		<p>2017-08-20</p>
		<p class="desc_text"> {$data.so_detail}</p>
	</div>
	<div class="comment">
		<h2>评论</h2>
		<form  class="cf">
			<i style="background: url({$user['avatar']}) no-repeat center center;"></i>
			<div class="fr zb-form-group" id="add">
				<input type="hidden" name="live_id"  value="{$data.solive_id}">
				<input type="text" name="content"  value="" id="content" placeholder="我也说句话"/>
				<input type="button"  onclick="live_add()" value="评论" class="btn"/>
			</div>
		</form>
		<ul class="allsyt">
			<foreach name="comment" item="vo" >
			<li class="reply">
				<div class="cf">
					<div class="fl com_head">
						<i style="background: url({$vo.avatar}) no-repeat center center;"></i>
					</div>
					<div class="fl com_text">
						<h5>{$vo.user_name} <span id="{$vo.comment_id}">评论<i></i></span></h5>
						<p class="time">{$vo.time}</p>
						<p>{$vo.content}</p>
						<div class="huifu">
							<foreach name='vo["reply"]' item="aa" >
								<p id="{$aa.comment_id}"><a href="javascript;">{$aa.user_name}</a>：{$aa.content}</p>
								<foreach name='aa["three"]' item="bb">
								<p id="{$aa.comment_id}"><a href='javascript;:'>{$bb.user_name}</a>回复{$bb.reply_name}：{$bb.content}</p>
								</foreach>
							</foreach>
							<a href="#" class="zhankai">共{$vo.counts}条回复</a>
						</div>
					</div>
				</div>
				<form class="cf pingl"  >
					<div class="fr zb-form-group aa">
					</div>
				</form>
			</li>
			</foreach>
		</ul>
	</div>
	</div>
</div>
</body>
</html>
<script src="__HOME__js/zepto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(".iphone").css("height",$(window).height() )
	//评论
	function live_add(){
		var live_id= $('input[name="live_id"]').val();
		var content= $('input[name="content"]').val();
		if(content ==''){
			alert('提交评论不能为空!');return false;
		}
		$.post("{:U('Live/add_comment')}",{live_id:live_id,content:content},function(data){
			if(data.state == 200){
				$(".allsyt").prepend('<li><div class="cf"><div class="fl com_head">'+
						'<i style="background: url('+data.avatar+') no-repeat center center;"></i></div><div class="fl com_text"><h5>'+data.user_name+'</h5><p class="time">'+data.time+'</p>'+
						'<p>'+data.content+'</p> </div> </div></li>');
				$("#content").remove();
				$("#add").append('<input type="text" name="content"  value="" id="content" placeholder="我也说句话"/>');
			}else{
				alert(data.msg);
			}
		});
	}


	$(".zb-form-group").on("click",".btn",function(){
			var _this = $(this);
			var id = $(this).attr("id");
			var ids = $(this).attr("ids");
		if(id == null){
			blive_edit(ids,_this);
		}else{
			zlive_add(id,_this);
		}

	})
	//回复1
	function zlive_add(id,user_self){
		var z_content= $('input[name="z_content"]').val();
		if(z_content == ''){
			alert('回复评论不能为空');return false;
		}
		$.post("{:U('Live/reply_comment')}",{z_content:z_content,id:id},function(data){
			if(data.state == 200){
				var html = "<p><a href='javascript;:'>"+data.name+"</a>："+data.content+"</p>";
				user_self.parent().parent().siblings().find(".huifu").prepend( html )
				$(".bb").remove();
				$(".cc").remove();
			}else{
				alert(data.msg);
			}
		});
	}

	//回复2
	function blive_edit(ids,user_self){
		var b_content= $('input[name="b_content"]').val();
		if(b_content == ''){
			alert('回复评论不能为空');return false;
		}
		$.post("{:U('Live/reply_edit')}",{b_content:b_content,ids:ids},function(data){
			if(data.state == 200){
				var html = "<p id="+data.id+"><a href='javascript:void(0);'>"+data.name+"</a>回复"+data.reply+"："+data.content+"</p>";
				user_self.parent().parent().siblings().find(".huifu").prepend( html )
				$(".bb").remove();
				$(".cc").remove();
			}else{
				alert(data.msg);
			}
		});
	}


    $(".video_text em").on("click",function(){
        $(".desc_text").toggleClass("active")
    });

	//收藏
    $(".video_text i").on("click",function(){
		var collect = $('.video_text').attr('solive_id');
		var cate =$('.video_text').attr('type');
		$.post("{:U('Common/keep')}",{collect:collect,cate:cate},function(data){
			if(data.state == 200 || data.state == 202){
				$(".video_text i").toggleClass("active")
			}else{
				alert('操作失败！');
			}
		});
    });


    $(".com_text span").on("click",function(){
		var id =$(this).attr('id');
        $(this).parent().parent().parent().siblings().toggleClass("active");
		if($('form').hasClass('active')){
			$(this).parent().parent().parent().siblings().find(".aa").append('<input type="text" name="z_content" class="bb" value="" placeholder="评论"/>' +
					'<input type="button"  value="评论" class="btn bb" id="'+id+'"/>');
		}else{
			$(".bb").remove();
		}
    });

	$(".huifu p").on("click",function(){
		var nei =$(this).find("a").text();
		var id =$(this).attr('id');
		$(this).parent().parent().parent().siblings().find(".cc").remove();
		$(this).parent().parent().parent().siblings().toggleClass("active");
		if($('form').hasClass('active')){
			$(this).parent().parent().parent().siblings().find(".aa").append('<input type="text" name="b_content" class="bb" value="" placeholder="回复'+nei+'："/>' +
					'<input type="button"  value="评论" class="btn cc" ids="'+id+'"/>');
		}else{
			$(".bb").remove();
		}
	});


    $(".zhankai").on("click",function(){
        $(this).parent().toggleClass("active")
        return false;
    })

</script>