<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>我的活动</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
    <link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
    <script src="__HOME__js/zepto.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="iphone">
<div id="content">
    <div class="user-head">
        <div class="card-img" style="background: url(__HOME__images/a4.jpg) no-repeat center center;">
            <!--<i class="head-big head" style="background: url(__HOME__images/hd.jpg);"></i>-->
        </div>
        <div class="sec-tab cf">
            <i class="active"></i>
            <i></i>
        </div>
    </div>
    <div class="hide mg-20">
        <div class="tab cf">
            <ul class="list">
                <volist name="list" id="vo">
                    <?php if($vo['end_time'] > time() && $list['is_sold'] == 0):?>
                        <li class="cf">
                            <a href="{:U('Activity/show',array('id'=>$vo['activity_id']))}">
                                <div class="img_box fl">
                                    <img src="__ROOT__/{$vo.img}" alt="" />
                                </div>
                                <div class="list_t fr">
                                    <h2>{$vo.act_title}</h2>
                                    <span>{$vo.add_time|date='Y-m-d',###}</span>
                                </div>
                            </a>
                        </li>
                    <?php endif;?>
                </volist>
            </ul>

            <ul class="list">
                <volist name="list" id="vo">
                    <?php if($vo['end_time'] <= time() || $list['is_sold'] == 1):?>
                        <li class="cf">
                            <a href="{:U('Activity/show',array('id'=>$vo['activity_id']))}">
                                <div class="img_box fl">
                                    <img src="__ROOT__/{$vo.img}" alt="" />
                                </div>
                                <div class="list_t fr">
                                    <h2>{$vo.act_title}</h2>
                                    <span>{$vo.add_time|date='Y-m-d',###}</span>
                                </div>
                            </a>
                        </li>
                    <?php endif;?>
                </volist>
            </ul>
        </div>
    </div>
</div>
</div>

</body>
</html>
<script type="text/javascript">
    window.onload = function(){

        $(".iphone").css("height",$(window).height() )
        $(".sec-tab i").on("click",function(){
            $(this).addClass("active").siblings().removeClass("active");
            var i = $(this).index();
            var w = $(window).width();

            $(".tab").css("transform","translate("+ -i * w+"px)")
        })
    }
</script>
<script>
    $(function(){
        getHistory();
        var flag = false;
        setTimeout(function(){
            flag = true;
        },1000);
        window.addEventListener('popstate',function(e){
            if(flag){
                window.location = 'http://wap.manjianghu.com/index.php/Home/User/index.html';
            }
            getHistory();
        },false);
        function getHistory(){
            var state = {
                title : 'title',
                url : '#'
            };
            window.history.pushState(state,'title','#');
        }
    });
</script>