<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>我的声望</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
    <link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
</head>
<body>
<div id="points">
    <div class="card-img" style="background: url(__HOME__images/a4.jpg) no-repeat center center;">
        <i class="head-big head" style="background:#fff url(__HOME__images/x17.png) no-repeat center 16px;background-size: 85%!important;">
            <p>{$reputation.reputation}</p>
        </i>
    </div>

    <ul class="sw_list">
        <?php if($token_reputation['tr'] != null):?>
        <li class="cf"><span>{$token_reputation.bind_time|date='Y-m-d',###}</span><p>绑定<a style="color: red;">{$token_reputation.tn}</a>获得声望+{$token_reputation.tr}</p></li>
        <?php endif;?>

        <volist name="mark" id="vo">
            <li class="cf"><span>{$vo.mark_time|date='Y-m-d',###}</span><p>签到获得声望+1</p></li>
        </volist>
        <!--<li class="cf"><span>2017-8-6</span><p>签到获得声望+1</p></li>-->
        <!--<li class="cf"><span>2017-8-6</span><p>签到获得声望+1</p></li>-->
        <!--<li class="cf"><span>2017-8-6</span><p>签到获得声望+1</p></li>-->
        <!--<li class="cf"><span>2017-8-6</span><p>签到获得声望+1</p></li>-->
        <!--<li class="cf"><span>2017-8-6</span><p>签到获得声望+1</p></li>-->
        <!--<li class="cf"><span>2017-8-6</span><p>签到获得声望+1</p></li>-->
        <!--<li class="cf"><span>2017-8-6</span><p>签到获得声望+1</p></li>-->
        <!--<li class="cf"><span>2017-8-6</span><p>签到获得声望+1</p></li>-->
        <!--<li class="cf"><span>2017-8-6</span><p>签到获得声望+1</p></li>-->
        <!--<li class="cf"><span>2017-8-6</span><p>签到获得声望+1</p></li>-->
        <!--<li class="cf"><span>2017-8-6</span><p>签到获得声望+1</p></li>-->
        <!--<li class="cf"><span>2017-8-6</span><p>签到获得声望+1</p></li>-->
        <!--<li class="cf"><span>2017-8-6</span><p>签到获得声望+1</p></li>-->
    </ul>
</div>
</body>
</html>
