<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>我的收藏</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
    <link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
</head>

<body>
<div id="collection">
    <div class="user-head">
        <div class="card-img" style="background: url(__HOME__images/a4.jpg) no-repeat center center;"></div>
    </div>
    <ul class="change cf">
        <li class="active">活动</li>
        <li>直播</li>
        <li>故事</li>
        <li>签到</li>
    </ul>

    <div class="hide">
        <div class="tab cf">
            <ul class="collect fl list">
                <li>
                    <div class="collect_hd cf">
                        <i class="head fl" style="background: url(__HOME__images/hd.jpg) no-repeat center center;"></i>
                        张三
                        <span class="time fr">今天</span>
                    </div>
                    <div class="collect_bd cf">
                        <a href="story1.html">
                            <div class="img_box fl">
                                <img src="__HOME__images/a1.jpg" alt="" />
                            </div>
                            <div class="list_t fr">
                                <h2>探望少年“第二季冠名，赞助召集令</h2>
                            </div>
                        </a>
                    </div>
                </li>

                <li>
                    <div class="collect_hd cf">
                        <i class="head fl" style="background: url(__HOME__images/hd.jpg) no-repeat center center;"></i>
                        张三
                        <span class="time fr">今天</span>
                    </div>
                    <div class="collect_bd cf">
                        <a href="story1.html">
                            <div class="img_box fl">
                                <img src="__HOME__images/a1.jpg" alt="" />
                            </div>
                            <div class="list_t fr">
                                <h2>探望少年“第二季冠名，赞助召集令</h2>
                            </div>
                        </a>
                    </div>
                </li>

                <li>
                    <div class="collect_hd cf">
                        <i class="head fl" style="background: url(__HOME__images/hd.jpg) no-repeat center center;"></i>
                        张三
                        <span class="time fr">今天</span>
                    </div>
                    <div class="collect_bd cf">
                        <a href="story1.html">
                            <div class="img_box fl">
                                <img src="__HOME__images/a1.jpg" alt="" />
                            </div>
                            <div class="list_t fr">
                                <h2>探望少年“第二季冠名，赞助召集令</h2>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>

            <ul class="collect fl">
                <li>
                    <div class="collect_hd cf">
                        <i class="head fl" style="background: url(__HOME__images/hd.jpg) no-repeat center center;"></i>
                        张三
                        <span class="time fr">今天</span>
                    </div>
                    <div class="collect_bd cf">
                        <a href="zhibo_xq.html">
                            <div class="video_box" style="background: url(__HOME__images/a1.png) no-repeat center center;">
                                <h5>《7-17江湖记录片》</h5>
                                <p style="color: #fff;">内容简介：江湖纪录片7-17 <span class="fr">2017-09-13</span></p>
                                <i></i>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>

            <ul class="collect fl">
                <li>
                    <div class="collect_hd cf">
                        <i class="head fl" style="background: url(__HOME__images/hd.jpg) no-repeat center center;"></i>
                        张三
                        <span class="time fr">今天</span>
                    </div>
                    <div class="collect_bd cf">
                        <a href="story1.html">
                            <div class="img_box fl">
                                <img src="images/a1.jpg" alt="" />
                            </div>
                            <div class="list_t fr">
                                <h2>探望少年“第二季冠名，赞助召集令</h2>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>

            <ul class="collect fl">
                <li>
                    <div class="collect_hd">
                        <i class="head fl" style="background: url(__HOME__images/hd.jpg) no-repeat center center;"></i>
                        张三
                        <span class="time fr">今天</span>
                    </div>
                    <div class="collect_bd">
                        <p>满堂花醉三千客</p>
                        <p>一剑寒霜十四粥</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>

</body>
</html>
<script src="__HOME__js/zepto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    window.onload = function(){

        $(".change li").on("click",function(){
            $(this).addClass("active").siblings().removeClass("active");
            var i = $(this).index();
            var w = $(window).width();

            var klass = "slider" + i
            $(".slider").removeClass().addClass("slider " + klass)
            $(".tab").css("transform","translate("+ -i * w+"px)")

        })
    }





</script>