<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>我的收藏</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
    <link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
</head>

<body>
<div id="collection">
    <div class="user-head">
        <div class="card-img" style="background: url(__HOME__images/a4.jpg) no-repeat center center;"></div>
    </div>
    <ul class="change cf">
        <li class="active">活动</li>
        <li>直播</li>
        <li>故事</li>
        <li>签到</li>
    </ul>

    <div class="hide">
        <div class="tab cf">
            <ul class="collect fl list">
                <volist name="activity" id="act">
                    <li>
                        <div class="collect_hd cf">
                            <i class="head fl" style="background: url(__HOME__images/hd.jpg) no-repeat center center;"></i>
                            张三
                            <span class="time fr">今天</span>
                        </div>
                        <div class="collect_bd cf">
                            <a href="{:U('Activity/show',array('id'=>$act['activity_id']))}">
                                <div class="img_box fl">
                                    <img src="__ROOT__/{$act.img}" alt="" />
                                </div>
                                <div class="list_t fr">
                                    <h2>{$act.act_title}</h2>
                                </div>
                            </a>
                        </div>
                    </li>
                </volist>
            </ul>

            <ul class="collect fl">
                <volist name="live" id="li">
                    <li>
                        <div class="collect_hd cf">
                            <i class="head fl" style="background: url(__HOME__images/hd.jpg) no-repeat center center;"></i>
                            张三
                            <span class="time fr">今天</span>
                        </div>
                        <div class="collect_bd cf">
                            <a href="{:U('Live/show',array('id'=>$li['solive_id']))}">
                                <div class="video_box" style="background: url(__ROOT__/{$li.img}) no-repeat center center;">
                                    <h5>{$li.so_title}</h5>
                                    <p style="color: #fff;">内容简介：{$li.so_detail}<span class="fr">{$li.add_time|date='Y-m-d',###}</span></p>
                                    <i></i>
                                </div>
                            </a>
                        </div>
                    </li>
                </volist>
            </ul>

            <ul class="collect fl">
                <volist name="story" id="st">
                    <li>
                        <div class="collect_hd cf">
                            <i class="head fl" style="background: url(__HOME__images/hd.jpg) no-repeat center center;"></i>
                            张三
                            <span class="time fr">今天</span>
                        </div>
                        <div class="collect_bd cf">
                            <a href="{:U('Story/show',array('id'=>$st['news_id']))}">
                                <div class="img_box fl">
                                    <img src="__ROOT__/{$st.picture}" alt="" />
                                </div>
                                <div class="list_t fr">
                                    <h2>{$st.title}</h2>
                                </div>
                            </a>
                        </div>
                    </li>
                </volist>
            </ul>

            <ul class="collect fl">
                <volist name="genera" id="list">
                    <li>
                        <div class="collect_hd">
                            <i class="head fl" style="background: url(__HOME__images/hd.jpg) no-repeat center center;"></i>
                            张三
                            <span class="time fr">今天</span>
                        </div>
                        <div class="collect_bd">
                            {$list.content}
                        </div>
                    </li>
                </volist>
            </ul>
        </div>
    </div>

</body>
</html>
<script src="__HOME__js/zepto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    window.onload = function(){

        $(".change li").on("click",function(){
            $(this).addClass("active").siblings().removeClass("active");
            var i = $(this).index();
            var w = $(window).width();

            var klass = "slider" + i
            $(".slider").removeClass().addClass("slider " + klass)
            $(".tab").css("transform","translate("+ -i * w+"px)")

        })
    }





</script>