<extend name="Common/common" />
<block name="custom">
   		<link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
</block>
<block name="content">
		<div id="content">
			<div class="user-head">
				<div class="card-img" style="background: url(images/a4.jpg) no-repeat center center;">
					<i class="head-big head" style="background: url(__HOME__images/hd.jpg);"></i>
					<p class="u-name">卡西</p>
				</div>
				<div class="info cf">
					<a href="{:U('Points/index')}" class="ins">
						<i></i>
						<p><i></i>10</p>
					</a>
					
					<a href="popularity.html" class="sw">
						<i></i>
						<p><i></i>10</p>
					</a>
					
				</div>
			</div>
			
			<div class="user-body">
				<ul>
					<li><a href="{:U('Myinfo/index')}"></a></li>
					<li><a href=""></a></li>
					<li><a href=""></a></li>
					<li><a href="myxs.html"></a></li>
					<li><a href="myactivity.html"></a></li>
					<li><a href="collection.html"></a></li>
				</ul>
				
				<a class="btn">
					签到
				</a>
			</div>
			
			
		</div>
</block>