<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>江湖悬赏</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
    <link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
</head>
<body>
<div id="content">
    <div class="text">
        <div class="text_head">
            <img src="__ROOT__/{$data.re_image}" alt="" />
            <p class="today"></p>
            <div class="author">
                <span><i class="user"></i>许愿者：<?php echo base64_decode($data['author'])?></span>
                <span class="fr"><i class="time"></i>倒计时：80天 12:43:47</span>
            </div>
        </div>
        {$data.re_content}
        <a href="#" class="btn">接受悬赏</a>
    </div>
</div>
</body>
</html>
