<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>我的邀请人</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
    <link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div id="partner">
    <a href="javascript:;" class="invit">
        <img src="__HOME__images/p1.png" alt="" />
    </a>
    <div class="invited">
        <em></em>
        <div class="head_box">
            <if condition="$user['pid'] eq 0">
                <i class="head-big head" style="background: url({$user.avatar});"></i>
                <p><?php echo base64_decode($user[user_name]);?></p>
            <else />
                <i class="head-big head" style="background: url({$firent.avatar});"></i>
                <p><?php echo base64_decode($firent[user_name]);?>
            </if>
        </div>
    </div>

    <div class="my_par">
        <em></em>
        <ul class="cf">
            <Volist name="data" id="vo">
                <li><a href="javascript:;">
                    <div class="head_box">
                        <i class="head-big head" style="background: url({$vo.friend_avatar});"></i>
                        <p><?php echo base64_decode($vo[friend_user_name]);?></p>
                    </div>
                </a></li>
            </Volist>
        </ul>
    </div>
    <a href="{:U('Index/index')}" class="btn">我的江湖</a>
</div>

<div class="click_invit">
    <img src="__HOME__images/x19.png" class="fr"/>
</div>
</body>
</html>
<script src="__HOME__js/zepto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '<?php echo C('WX_OPENID')?>', // 必填，公众号的唯一标识
        timestamp:'<?php echo $timestamp ?>', // 必填，生成签名的时间戳
        nonceStr: '<?php echo $noncestr ?>', // 必填，生成签名的随机串
        signature: '<?php echo $signature ?>',// 必填，签名，见附录1
        jsApiList: ['onMenuShareAppMessage','onMenuShareTimeline'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function(){

        wx.onMenuShareAppMessage({
            title: '你的好友<?php echo base64_decode($user[user_name]);?>，邀请你成为他的江湖盟友。',
            desc: '一起策马江湖，仗剑天涯！', // 分享描述
            link: '<?php echo $curl?>', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: 'http://wap.manjianghu.com/Public/Home/images/token.png', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                alert('分享成功！');
            },
            cancel: function () {
                location.href = location.href
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareTimeline({
            title: '你的好友<?php echo base64_decode($user[user_name]);?>，邀请你成为他的江湖盟友。', // 分享标题
            link: '<?php echo $curl?>', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: 'http://wap.manjianghu.com/Public/Home/images/token.png', // 分享图标
            success: function () {
                alert('分享成功！');
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    });
    wx.error(function(res){
        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
    });

    $(".invit").on("click",function(){
        $(".click_invit").addClass("active")
    })

    $(".click_invit").on("click",function(){
        $(".click_invit").removeClass("active")
    })
</script>
<script>
    $(function(){
        getHistory();
        var flag = false;
        setTimeout(function(){
            flag = true;
        },1000);
        window.addEventListener('popstate',function(e){
            if(flag){
                window.location = 'http://wap.manjianghu.com/index.php/Home/Index/index.html';
            }
            getHistory();
        },false);
        function getHistory(){
            var state = {
                title : 'title',
                url : '#'
            };
            window.history.pushState(state,'title','#');
        }
    });
</script>

