<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
    <link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
    <script src="__HOME__js/zepto.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="iphone">
    <div id="content">
        <ul class="my-info">
            <li><a href="{:U('Myinfo/photo')}">头像<i class="fr head" style="background: url({$data.0.avatar}) no-repeat center center;"></i></a></li>
            <li><a href="{:U('Myinfo/name',array('user_id'=>$data[0]['user_id']))}">姓名<span  class="fr"><?php echo base64_decode($data[0][user_name]);?></span></a></li>
            <li><a href="{:U('Myinfo/code')}">二维码 <i class="fr head" style="background: url({$data.0.code}) no-repeat center center;"></i></a></li>
            <li class="choice_sce"><a href="javascript:;">性别<span class="fr"><?php if($data[0]['sex']):?> 男 <?php else:?> 女 <?php endif;?></span></a></li>
            <li><a href="{:U('Myinfo/position',array('info_id' => $data[0][info_id]))}">我的地址</a></li>
            <li><a href="{:U('Myinfo/industry')}">行业</a></li>
            <li><a href="{:U('Myinfo/interest')}">兴趣、爱好</a></li>
            <li><a href=""><i></i>邀请盟友</a></li>
        </ul>

        <div class="sex">
            <h5>性别</h5>
            <form>
                <div style="border-bottom: 1px solid #ececec;">
                    <label for="">男</label>
                    <input type="radio" name="sex" id="" value="1" onchange="change('男')" class="sex_man"/>
                </div>
                <div>
                    <label for="">女</label>
                    <input type="radio" name="sex" id="" value="0" onchange="change('女')" class="sex_woman"/>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(".choice_sce").on("click",function(){
        $(".sex").addClass("active")
    })

    function change(sex){
        var sex_v;
        $(".sex").removeClass("active")
        $(".choice_sce span").text(sex)
        if( sex == "女"){
            sex_v = 0;
        }else {
            sex_v = 1;
        }

        $.post("__ROOT__/home/myinfo/sex_save/sex/"+sex_v,{},function () {
            $(".choice_sce span").text(sex)
        });
    }
    
    window.onload = function () {
        if( {$data.0.sex} == 1 ){
            $(".sex_man").attr("checked","checked")
        }else {
            $(".sex_woman").attr("checked","checked")
        }
    }

</script>
