<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>我的姓名</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
    <link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
</head>
<body>
<div id="content" class="name">
    <form action="{:U('Myinfo/name')}" method="post">
        <input type="text" name="user_name" id="" placeholder="<?php echo base64_decode($user_name);?>"/>
        <p>好的开始从一个好名字出发</p>
        <input type="submit" value="保存" class="btn"/>
    </form>
</div>
</body>
<script src="__HOME__js/zepto.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(function(){
        getHistory();
        var flag = false;
        setTimeout(function(){
            flag = true;
        },1000);
        window.addEventListener('popstate',function(e){
            if(flag){
                window.location = 'http://wap.manjianghu.com/index.php/Home/Myinfo/index.html';
            }
            getHistory();
        },false);
        function getHistory(){
            var state = {
                title : 'title',
                url : '#'
            };
            window.history.pushState(state,'title','#');
        }
    });
</script>
</html>
