<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>我的微信号</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
    <link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
</head>
<body>
<div id="content" class="name">
    <form action="{:U('Myinfo/user_wx_save')}" method="post">
        <input type="text" name="user_wx" id="" placeholder="{$user.user_wx}"/>
        <p>填写微信号，让你的江湖盟友更容易联系您!</p>
        <input type="submit" value="保存" class="btn"/>
    </form>
</div>
</body>
<script src="__HOME__js/zepto.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(function(){
        getHistory();
        var flag = false;
        setTimeout(function(){
            flag = true;
        },1000);
        window.addEventListener('popstate',function(e){
            if(flag){
                window.location = 'http://wap.manjianghu.com/index.php/Home/Myinfo/index.html';
            }
            getHistory();
        },false);
        function getHistory(){
            var state = {
                title : 'title',
                url : '#'
            };
            window.history.pushState(state,'title','#');
        }
    });
</script>
</html>
