

.list li{
	box-shadow: 0 0 10px rgba(95,95,95,.5);
	width: 97%;
	background: #fff;
	padding:10px 5px;
	margin:0 auto 10px;
}

.img_box{
	width: 30%;
	position: relative;
	height: 80px;
	overflow: hidden;
}

.img_box img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	width: 100%;
	height: auto;
}

.list_t{
	width: 65%;
}

.list_t h2,.con_text h2{
	color: #333333;
	font-size: 16px;
}

.list_t span,.con_text span{
	color: #999999;
	font-size: 14px;
}

/*文字内容详情页面*/

.text{
	padding:20px 10px;
}

.text p{
	font-size: 14px;
	color: #999999;
	line-height: 20px;
	margin-bottom: 8px;
}

.text h5{
	font-size: 18px;
	text-align: center;
}

.text img{
	max-width: 100%;
}

/*江湖须知页面*/

.card-list{
	padding: 8px 15px;
	width: 100vw;
}

.card-list li{
	background: #FFFFFF;
	border-radius:6px ;
	padding:8px;
	box-shadow: 0 5px 10px rgba(95,95,95,.5);
	margin-bottom: 10px;
}

.card-list li h5{
	font-size: 16px;
	line-height: 24px;
	color: #333;
	font-weight: initial;
}

.card-list li p{
	font-size: 14px;
	line-height: 28px;
	color: #999999;
	border-bottom: 1px solid #ececec;
}

.card-list li a{
	font-size: 14px;
	line-height: 28px;
	color: #333;
	display: block;
}

.card-list li a i.right{
	display: block;
	width: 18px;
	height: 20px;
	background: url(../images/i1.png) no-repeat center center;
	float: right;
	margin-top: 4px;
}

.card-img{
	width: 100%;
	height: 150px;
	background-size:cover!important;
	text-align: center;
}

/*悬赏页面*/

.xs-list{
	width: 100%;
	height:50px;
	position: relative;
}

.xs-list i{
	display: block;
	width: 75px;
	height: 30px;
	background-size: 90%!important;
	position: absolute;
	top: 8px;
	transform: translateX(-50%);
	-webkit-transform:translate(-50%);
}

.slider{
	display: block;
	position: absolute;
	width: 50px;
	height: 5px;
	border-radius:2.5px;
	background: #8b1603;
	bottom:3px;
	transition: .5s;
	transform: translateX(-50%);
	-webkit-transform: translate(-50%);
}

.slider0{
	left: 30%;
}

.slider1{
	left: 70%;
}

.xs-list .doing{
	background:url(../images/x1.png) no-repeat center center;
	left:30%;
}

.xs-list .did{
	background:url(../images/x2.png) no-repeat center center;
	left: 50%;
}

.xs-list .done{
	background:url(../images/x3.png) no-repeat center center;
	left: 70%;
}

.my .doing{
	left:15%;
}

.my .did{
	left:50%;
}

.my .done{
	left:85%;
}

.my .slider0{
	left: 15%;
}

.my .slider1{
	left: 50%;
}

.my .slider2{
	left: 85%;
}

.xs-list .doing.active{
	background:url(../images/x4.png) no-repeat center center;
}

.xs-list .did.active{
	background:url(../images/x5.png) no-repeat center center;
}

.xs-list .done.active{
	background:url(../images/x6.png) no-repeat center center;
}

.tab,.tab2,.tab3{
	width: 900000px;
	transition: .5s;
}

.hide{
	width: 100%;
	overflow: hidden;
}

.search{
	width: 75%;
	height: 40px;
	border-radius: 8px;
	background: #f0f2f1;
	display: block;
	margin: 5px auto;
	padding: 3px 5px;
}

.search input{
	border: none;
	outline: none;
	background: transparent;
	width: 80%;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}

.search input[type =submit]{
	width: 30px;
	height: 30px;
	margin: 0;
	background: url(../images/search.png) no-repeat center center;
	background-size: 90%;
}

.author{
	font-size: 12px;
	color: #333;
	line-height: 20px;
}

.author i{
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
	top: 4px;
}

.author i.user{
	background: url(../images/user.png) no-repeat center center;
	background-size: 80%;
}

.author i.time{
	background: url(../images/time.png) no-repeat center center;
	background-size: 80%;
}

.text .author{
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.publish{
	position: fixed;
	width: 80px;
	height: 80px;
	border: 2px solid #cccccc;
	border-radius: 50%;
	background:#fff url(../images/x7.png) no-repeat center center;
	background-size: 65%;
	right: 20px;
	bottom: 20px;
}

.today{
	height: 40px;
	width: 100%;
	background: url(../images/11.png) no-repeat center center;
	background-size: 100%;
	margin: 0;
}

.btn{
	display: block;
	margin: 10px auto 30px;
	background: #8b1603;
	color: #fff;
	font-size: 16px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	border-radius: 7px;
	text-align: center;
}

.position{
	width: 100%;
	height: 50px;
	background: #fff;
	box-shadow: 0 5px 10px rgba(95,95,95,.5);
	padding: 10px;
}

.position label{
	line-height: 30px;
	color: #666;
}

.position input[type =submit]{
	width: 80px;
	height: 30px;
	background: #8b1603 url(../images/search1.png) no-repeat 17px center;
	background-size: 22%;
	font-size: 14px;
	line-height: 30px;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 5px;
	padding-left: 30px;
	float: right;
}

.rank{
	width: 100%;
	text-align: center;
	line-height: 25px;
}

.rank th{
	color: #333;
	font-size: 14px;
	border:1px solid #ECECEC ;
}

.rank tr{
	background: #fff;
	/*	height: 40px;*/
	border-bottom: 1px solid #ececec;
	border-spacing:10px;
}
/*
.rank tr:nth-child(2){
	margin-top: 40px;
}*/

.head{
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius:50%;
	background-size: cover!important;
	margin-top: 5px;
}

/*.rank tbody{
	margin-top: 10px;
	padding-top: 10px;
	display: block;
}*/

.space{
	background: transparent!important;
	height: 10px;
}
.space td{
	height: 10px;
}
/*个人中心页面*/

.head-big.head{
	width: 70px;
	height: 70px;
	border: 3px solid rgba(255,255,255,.5);
	margin-top: 20px;
}

.u-name{
	color: #fff;
}

.info{
	box-shadow: 0 5px 10px rgba(95,95,95,.5);
}

.info a{
	display: block;
	float: left;
	width: 50%;
	height: 70px;
	background: #fff;
	text-align: center;
	color: #8b1603;
	padding-top: 8px;
}

.info .ins{
	border-right: 1px solid #ececec;
}

.info p{
	position: relative;
	bottom: 5px;
}

.info p i{
	position: relative;
	top:7px;
}

.ins i{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../images/i2.png) no-repeat center center;
	background-size: cover;
}

.ins p i{
	width: 75px;
	background: url(../images/17.png) no-repeat center center;
	background-size: 80%;
}

.sw i{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../images/i3.png) no-repeat center center;
	background-size: 90%;
}

.sw p i{
	width: 75px;
	background: url(../images/16.png) no-repeat center center;
	background-size: 90%;
}

.user-body{
	margin-top: 20px;
}

.user-body li{
	width: 100%;
	height: 50px;
	background-size: 100% auto!important;
	border-bottom: 1px solid #ECECEC;
}

.user-body li a{
	display: block;
	width: 100%;
	height: 100%;
}

.user-body li:nth-child(1){
	background: url(../images/m1.png) no-repeat center center;
}

.user-body li:nth-child(2){
	background: url(../images/m2.png) no-repeat center center;
}

.user-body li:nth-child(3){
	background: url(../images/m3.png) no-repeat center center;
}

.user-body li:nth-child(4){
	background: url(../images/m4.png) no-repeat center center;
}

.user-body li:nth-child(5){
	background: url(../images/m5.png) no-repeat center center;
}

.user-body li:nth-child(6){
	background: url(../images/m6.png) no-repeat center center;
}

.user-body .btn{
	margin-top: 20px;
}

/*个人信息页面*/

.my-info li a{
	height: 50px;
	padding: 0 10px;
	line-height: 50px;
	font-size: 18px;
	border-bottom: 1px solid #ececec;
	color: #333333;
	display: block;
	background: #fff;
}

.my-info li:nth-child(1) a{
	height:60px;
	line-height:60px;
}

.my-info li:nth-child(1){
	margin-bottom: 15px;
	box-shadow: 0 5px 10px rgba(95,95,95,.5);
}

.my-info li:nth-child(1) i{
	width: 40px;
	height: 40px;
	margin-top: 10px;
	box-shadow: 0 5px 10px rgba(95,95,95,.5);
}

.my-info li:nth-child(3) i{
	margin-top: 10px;
	border-radius:0;
}

.my-info li:nth-child(6),.my-info li:nth-child(9){
	margin-bottom: 15px;
}

.my-info li:nth-child(8) i{
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	background: url(../images/i4.png) no-repeat  center center;
	background-size: 90%;
	position: relative;
	top: 7px;
	margin-right: 10px;
}

.sex{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	width: 60%;
	background: #fff;
	padding: 10px 15px;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	z-index: -1;
	opacity: 0;
}

.sex.active{
	transition: opacity .5s;
	z-index: 1;
	opacity: 1;
}

.sex input{
	float: right;
}

.sex div{
	padding: 8px 0;
}


/*编辑姓名页面*/

.name{
	margin-top: 40px;
}

.name p{
	color:#999;
	padding-left: 10px;
	margin-top: 10px;
}

.name input[type =submit]{
	border: none;
	margin-top: 30px;
}

.name input[type =text]{
	border: none;
	width: 95%;
	border-bottom: 1px solid #ECECEC;
	background: none;
	outline: none;
	padding:5px 10px;
	height: 30px;
	color: #999;
}

/*二维码页面*/
.er{
	width: 50%;
	display: block;
	margin: 80px auto;
}

/*添加地址页面*/

.form-group{
	width: 100%;
	height: 50px;
	background: #fff;
	border-bottom: 1px solid #ECECEC;
	line-height: 50px;
	color: #333333;
	padding: 0 10px;
	margin-bottom: 10px;
}

.form-group label{
	width: 30%;
	display: block;
	float: left;
}

.form-group input{
	width: 70%;
	display: block;
	float: left;
	border: none;
	outline: none;
	height: 30px;
	margin-top: 10px;
}

.add .btn{
	border: none;
}

.form-group select{
	width: 120px;
	outline: none;
	border: none;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	background:url(../images/i5.png) no-repeat right center;
	background-size: 20%;
}

/*我的悬赏页面*/
#xs .info{
	background: #fff;
}

#xs .info a{
	background-size: 50%!important;
	border: 1px solid #ECECEC;
	height: 60px;
}

#xs .info a.doing{
	background: url(../images/x12.png) no-repeat center center;
}

#xs .info a.did{
	background: url(../images/x13.png) no-repeat center center;
}

#xs .info a.doing.active{
	background: url(../images/x14.png) no-repeat center center;
}

#xs .info a.did.active{
	background: url(../images/x15.png) no-repeat center center;
}

.xs_doing,.xs_did{
	width: 100vw;
	float: left;
	overflow: hidden;
	position: relative;
}

#xs .xs-list{
	background: #fff;
}



/*我的活动页面*/
.sec-tab{
	box-shadow: 0 0 20px rgba(95,95,95,.5);
}

.sec-tab i{
	display: block;
	width: 50%;
	float: left;
	height: 50px;
	background-size: 40%!important;
}

.sec-tab i:nth-child(1){
	background:#fff url(../images/x9.png) no-repeat center center;
	border-right: 1px solid #ECECEC;
}

.sec-tab i:nth-child(2){
	background:#fff url(../images/x11.png) no-repeat center center;
}

.sec-tab i.active:nth-child(1){
	background:#fff url(../images/x10.png) no-repeat center center;
}

.sec-tab i.active:nth-child(2){
	background:#fff url(../images/x8.png) no-repeat center center;
}

.tab .list{
	float: left;
	width: 100vw;
}

.mg-20{
	margin-top: 20px;
}

/*我的积分页面*/
.head-big p{
	color: #8b1603;
	padding-top: 35px;
	font-style: initial;
}

.sw_list li{
	background: #fff;
	width: 95%;
	margin: 10px auto 0;
	line-height: 60px;
	border-radius:5px;
	padding: 0 10px;
	font-size: 14px;
}

.sw_list li span{
	color: #999999;
	float: left;
}

.sw_list li p{
	color: #333;
	float: right;
}

/*江湖活动页面*/

.activity{
	margin-top: 10px;
}

.theme{
	display: block;
	width: 100%;
	height: 40px;
	background:#fff url(../images/ac5.png) no-repeat center center;
	background-size: 100%;
}

.other{
	display: block;
	width: 100%;
	height: 40px;
	background:#fff url(../images/ac6.jpg) no-repeat center center;
	background-size: 100%;
}

.ac_p{
	height: 200px;
	background-size:cover !important;
	width: 100%;
	border-top:1px solid #fff ;
}
.ac_p h5{
	margin-top: 150px;
}

.ac_p h5,.ac_p p{
	color: #fff;
	padding-left: 15px;
}

.ac_p p{
	font-size: 14px;
}

.list_t p{
	text-align: right;
	color: #999;
}

.list_t .doing{
	color: #8b1603;
}

.list_t .did{
	color: #999;
}

.xq_con p{
	color: #999;
	/*	padding: 0 10px 0 20px;*/
}

/*.con_text p.time{
	background: url(../images/i6.png) no-repeat left center;
	background-size: 6%;
}*/

.con_text p i{
	color: #8b1603;
	font-style: initial;
}

.img_box1{
	width: 30%;
	height: 100px;
	background-size: cover!important;
}

.xq_con{
	padding: 10px;
	background: #fff;
	box-shadow: 0 0 10px rgba(95,95,95,.5);
	margin-bottom: 15px;
}

.con_text {
	width: 65%;
}

.invited,.my_par{
	text-align: center;
}

.invited em{
	display: inline-block;
	width: 100px;
	height: 40px;
	background: url(../images/p2.png) no-repeat center center;
	background-size: 100%;
}

.my_par em{
	display: inline-block;
	width: 100px;
	height: 40px;
	background: url(../images/p3.png) no-repeat center center;
	background-size: 100%;
}

.head_box p{
	color: #333;
	margin-top: 5px;
}

#partner{
	padding: 0 20px;
}

#partner .head-big{
	margin: 0;
}

.my_par ul li{
	float: left;
	width: 33.3%;
	margin-bottom: 20px;
	height: 110px;
}

#partner .invit img{
	width: 80%;
}

.invit{
	background: #8b1603;
	width: 40%;
	display: block;
	margin: 0 auto 20px;
	text-align: center;
	padding:5px 0;
	border-radius: 5px;
}

.click_invit{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	opacity: 0;
	transition: opacity .5s;
	z-index: -1;
}

.click_invit.active{
	opacity: 1;
	z-index: 1;
}

/*我的盟友页面结束*/

.token{
	width: 60%;
	margin: 15px auto 10px;
}

.token img{
	width: 100%;
}

#token .invit img{
	width: 80%;
}

.level img{
	width: 100%;
}

.level{
	margin: 15px auto 30px;
	text-align: center;
	opacity: 0;
}

.level.active{
	opacity: 1;
}

.huoqu{
	display: block;
	color: #333;
	text-align: center;
}

.invit.sm,.level{
	width: 30%;
}

.invit.xs{
	width: 20%;
	background: #666;
}

.pass form{
	width: 65%;
	display: block;
	margin: 0 auto;
}

.pass input{
	outline: none;
}

.pass input[type=text]{
	background: none;
	margin: 10px auto;
	width: 100%;
	padding-left: 10px;
	border: 1px solid #ececec;
	border-radius: 5px;
	height: 40px;
	line-height: 40px;
}

.pass input[type=submit]{
	border: none;
}

/*直播页面*/
.video_box{
	height: 175px;
	position: relative;
	background-size: cover!important;
	color: #fff;
	padding: 125px 15px 0;
}

.video_box p{
	font-size: 14px;
}

#zhibo li{
	margin-bottom: 15px;
}

.video_box i{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50px;
	height: 50px;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	display: block;
	background: url(../images/play.png) no-repeat center center;
	background-size: cover;
}

#my-video{
	width: 100vw;
}

.video_text{
	padding: 10px;
	box-shadow: 0 5px 10px rgba(95,95,95,.5);
	font-size: 12px;
	color: #999;
	background: #fff;
}

.video_text h2{
	font-size: 16px;
	color: #333;
}

.desc_text{
	line-height: 20px;
	margin-top: 10px;
	transition: .5s;
	overflow: hidden;
	height: 0;
}

.desc_text.active{
	height: auto;
}

.video_text em{
	display: block;
	float: right;
	width: 20px;
	height: 10px;
	background: url(../images/i5.png) no-repeat center center;
	background-size: 100%;
}

.video_text i,.video_text i.active,.mark i{
	display: block;
	width: 15px;
	height: 15px;
	display: inline-block;
	background:url(../images/i7.png) no-repeat center center;
	background-size: 100%;
	position: relative;
	top: 2px;
	margin:0 3px;
}

.video_text i.active,.mark i.active{
	background:url(../images/i8.png) no-repeat center center;
	background-size: 100%;
}

.comment{
	background: #fff;
	margin-top: 15px;
}

.comment h2{
	line-height: 40px;
	color: #333;
	border-bottom: 1px solid #ECECEC;
	padding: 0 10px;
}

.comment ul li{
	border-bottom: 1px solid #ECECEC;
	padding: 15px 10px;
}

.comment form{
	padding: 15px 10px;
	border-bottom: 1px solid #ECECEC;
}

.comment form i,.com_head i,.com_text h5 span i{
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	border-radius:50%;
	background-size: cover!important;
}

.zb-form-group{
	width: 85%;
}

.comment form input[type=text]{
	background: #f0f2f1;
	border: 1px solid #ECECEC;
	height: 30px;
	float: left;
	line-height: 30px;
	margin-left: 5px;
	width: 80%;
	outline: none;
	padding: 0 5px;
	border-radius: 15px;
}

.comment form input[type=submit]{
	width: 17%;
	float: right;
	margin: 0;
	border: none;
	height: 30px;
	line-height: 30px;
}
.comment form input[type=button]{
	width: 17%;
	float: right;
	margin: 0;
	border: none;
	height: 30px;
	line-height: 30px;
}

.com_head{
	width: 15%;
}

.com_text{
	width: 85%;
}

.com_text h5 span{
	color: #666;
	font-size: 14px;
	float: right;
	font-weight: initial;
}

.com_text h5 span i{
	background: url(../images/i9.png) no-repeat center center;
	float: right;
	width: 15px;
	height: 15px;
	margin-left: 5px;
	/*position: relative;
	top: 3px;*/
}

.com_text p{
	font-size: 14px;
	color: #999;
}

.com_text p.time{
	font-size: 12px;
	margin: 2px 0 5px;
}

.comment ul li input{
	font-size: 12px;
	line-height: 25px;
	height: 25px;
}

.comment ul li form{
	height: 0;
	padding: 0;
	overflow: hidden;
	transition:.5s;
	border: none;
}

.comment form.active{
	height:auto;
	padding: 10px;
	overflow: hidden;
}

#fabu .form-group{
	background: none;
	height: auto;
	border: none;
}

#fabu .form-group input{
	border-bottom:1px solid #ececec;
	background: none;
}

#fabu .form-group textarea{
	border: 1px solid #ececec;
	outline: none;
	border-radius: 5px;
	background: none;
	height: 150px;
	width:70%;
	padding:14px 5px;
}

#fabu .form-group label{
	color: #333;
}

#fabu input[type = submit]{
	border: none;
}

.img_load div{
	width: 60px;
	height: 60px;
	margin:10px 10px 0 0;
	border: 1px solid #ececec;
}

.img_load .load_btn{
	background: url(../images/can.png) no-repeat center center;
	background-size: 50%;
}

.load_btn input{
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
}

#city-picker{
	border: 1px solid #ececec;
	width: 80px;
	border-radius: 5px;
}

.picker-item{
	font-size: 16px!important;
	text-align: center!important;
}

.tuiguang{
	padding: 10px;
	margin-top: 10px;
}

.tuiguang h5{
	font-size: 14px;
	color: #666;
	font-weight: initial;
	margin-bottom: 5px;
}

.tuiguang p,.collect p{
	font-size: 14px;
	color: #333;
	font-weight: initial;
}

.tuiguang_bottom,{
	margin-top: 18px;
	color: #999;
	font-size: 12px;
}

.change li{
	float: left;
	width: 25%;
	border-right: 1px solid #ececec;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #333;
	transition:.5s;
	background: #fff;
}

.change li.active{
	color: #8b1603;
	box-shadow: 0 0 6px rgba(95,95,95,.5);
}

.time,.mark{
	font-size: 12px!important;
	color: #999!important;
}

.collect{
	width: 100vw;
	padding: 5px;
}

.collect li{
	box-shadow: 0 0 6px rgba(95,95,95,.5);
	margin: 8px 0;
	padding: 5px 10px;
	background: #fff;
	width: 100%!important;
}

.collect li .head{
	margin-right:10px ;
}

.collect li h2{
	font-weight: initial;
}

.collect_hd{
	line-height: 40px;
	color: #333;
	margin-bottom: 2px;
}

.huifu{
	background: #f5f5f5;
	padding: 8px;
	font-size: 12px;
	color: #666;
}

.huifu a{
	color: #1D7DB1;
}

.huifu p{
	margin-bottom: 5px;
	display: none;
}

.huifu p:nth-child(1){
	display: block;
}

.huifu.active p{
	display: block;
}

#ac_more .sec-tab i:nth-child(1){
	background:#fff url(../images/x20.png) no-repeat center center;
}

#ac_more .sec-tab i.active:nth-child(1){
	background:#fff url(../images/x22.png) no-repeat center center;
}

#ac_more .sec-tab i:nth-child(2){
	background:#fff url(../images/x21.png) no-repeat center center;
}

#ac_more .sec-tab i.active:nth-child(2){
	background:#fff url(../images/x23.png) no-repeat center center;
}