<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>story</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
    <link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
</head>
<body>
<div id="xs">
    <div class="card-img" style="background: url(__HOME__images/a4.jpg) no-repeat center center;">
        <a href=""><i class="head-big head" style="background:#fff url(__HOME__images/x7.png) no-repeat center center; background-size: 80%!important;"></i></a>
    </div>

    <div class="info cf">
        <a href="#" class="doing active"></a>
        <a href="#" class="did"></a>
    </div>



    <div class="hide">
        <div class="tab cf">
            <div class="xs_doing">

                <div class="xs-list cf">
                    <i class="doing active"></i>
                    <i class="did"></i>
                    <i class="done"></i>
                    <span class="slider slider0"></span>
                </div>

                <div class="tab2">
                    <ul class="card-list fl">
                        <li>
                            <a href="{:U('Stroy/index')}">
                                <div class="card-img" style="background: url(__HOME__images/a2.jpg) no-repeat center center;"></div>
                                <h5>悬赏一个故事计划？</h5>
                                <p>来说说你曾经扶危济困、斩奸锄恶的快意...</p>
                                <div class="author">
                                    <span><i class="user"></i>许愿者：Arthas</span>
                                    <span class="fr"><i class="time"></i>倒计时：80天 12:43:47</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{:U('Stroy/index')}">
                                <div class="card-img" style="background: url(__HOME__images/a2.jpg) no-repeat center center;"></div>
                                <h5>悬赏一个故事计划？</h5>
                                <p>来说说你曾经扶危济困、斩奸锄恶的快意...</p>
                                <div class="author">
                                    <span><i class="user"></i>许愿者：Arthas</span>
                                    <span class="fr"><i class="time"></i>倒计时：80天 12:43:47</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{:U('Stroy/index')}">
                                <div class="card-img" style="background: url(__HOME__images/a2.jpg) no-repeat center center;"></div>
                                <h5>悬赏一个故事计划？</h5>
                                <p>来说说你曾经扶危济困、斩奸锄恶的快意...</p>
                                <div class="author">
                                    <span><i class="user"></i>许愿者：Arthas</span>
                                    <span class="fr"><i class="time"></i>倒计时：80天 12:43:47</span>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <ul class="card-list fl">
                        <li>
                            <a href="{:U('Stroy/index')}">
                                <div class="card-img" style="background: url(__HOME__images/a2.jpg) no-repeat center center;"></div>
                                <h5>悬赏一个故事计划？</h5>
                                <p>来说说你曾经扶危济困、斩奸锄恶的快意...</p>
                                <div class="author">
                                    <span><i class="user"></i>许愿者：Arthas</span>
                                    <span class="fr"><i class="time"></i>倒计时：80天 12:43:47</span>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <ul class="card-list fl">
                        <li>
                            <a href="{:U('Stroy/index')}">
                                <div class="card-img" style="background: url(__HOME__images/a2.jpg) no-repeat center center;"></div>
                                <h5>悬赏一个故事计划？</h5>
                                <p>来说说你曾经扶危济困、斩奸锄恶的快意...</p>
                                <div class="author">
                                    <span><i class="user"></i>许愿者：Arthas</span>
                                    <span class="fr"><i class="time"></i>倒计时：80天 12:43:47</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="xs_did">
                <div class="xs-list cf">
                    <i class="doing active"></i>
                    <i class="done"></i>
                    <span class="slider slider0"></span>
                </div>

                <div class="tab3">
                    <ul class="card-list fl">
                        <li>
                            <a href="{:U('Stroy/index')}">
                                <div class="card-img" style="background: url(__HOME__images/a2.jpg) no-repeat center center;"></div>
                                <h5>悬赏一个故事计划？</h5>
                                <p>来说说你曾经扶危济困、斩奸锄恶的快意...</p>
                                <div class="author">
                                    <span><i class="user"></i>许愿者：Arthas</span>
                                    <span class="fr"><i class="time"></i>倒计时：80天 12:43:47</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{:U('Stroy/index')}">
                                <div class="card-img" style="background: url(__HOME__images/a2.jpg) no-repeat center center;"></div>
                                <h5>悬赏一个故事计划？</h5>
                                <p>来说说你曾经扶危济困、斩奸锄恶的快意...</p>
                                <div class="author">
                                    <span><i class="user"></i>许愿者：Arthas</span>
                                    <span class="fr"><i class="time"></i>倒计时：80天 12:43:47</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{:U('Stroy/index')}">
                                <div class="card-img" style="background: url(__HOME__images/a2.jpg) no-repeat center center;"></div>
                                <h5>悬赏一个故事计划？</h5>
                                <p>来说说你曾经扶危济困、斩奸锄恶的快意...</p>
                                <div class="author">
                                    <span><i class="user"></i>许愿者：Arthas</span>
                                    <span class="fr"><i class="time"></i>倒计时：80天 12:43:47</span>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <ul class="card-list fl">
                        <li>
                            <a href="{:U('Stroy/index')}">
                                <div class="card-img" style="background: url(__HOME__images/a2.jpg) no-repeat center center;"></div>
                                <h5>悬赏一个故事计划？</h5>
                                <p>来说说你曾经扶危济困、斩奸锄恶的快意...</p>
                                <div class="author">
                                    <span><i class="user"></i>许愿者：Arthas</span>
                                    <span class="fr"><i class="time"></i>倒计时：80天 12:43:47</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="js/zepto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(".info a").on("click",function(){
        $(this).addClass("active").siblings().removeClass("active");
        var i = $(this).index();
        var w = $(window).width();

        $(".tab").css("transform","translate("+ -i * w+"px)")
    })

    $(".xs_doing .xs-list i").on("click",function(){
        $(this).addClass("active").siblings().removeClass("active");
        var i = $(this).index();
        var w = $(window).width();

        var klass = "slider" + i
        $(".xs_doing .slider").removeClass().addClass("slider " + klass)
        $(".tab2").css("transform","translate("+ -i * w+"px)")
    })

    $(".xs_did .xs-list i").on("click",function(){
        $(this).addClass("active").siblings().removeClass("active");
        var i = $(this).index();
        var w = $(window).width();

        var klass = "slider" + i
        $(".xs_did .slider").removeClass().addClass("slider " + klass)
        $(".tab3").css("transform","translate("+ -i * w+"px)")
    })

</script>