<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>江湖令牌</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
    <link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
</head>
<body>
<div class="iphone">
<div id="token">
    <div class="token">
        <img src="__HOME__images/x18.png" alt="" />
    </div>

    <div class="invit xs">
        <img src="__HOME__images/20.png"/>
    </div>

    <div class="pass">
        <form action="{:U('Token/index')}" method="post" class="cf">
            <input type="text" name="tok_num" id="" placeholder="请输入江湖令通关码"/>
            <input type="submit" value="确定" class="btn"/>
        </form>
    </div>

    <div class="level">
        <img src="__HOME__images/token.png"/>
    </div>

    <div class="invit sm">
        <img src="__HOME__images/21.png"/>
    </div>
</div>
</div>
</body>
<script src="__HOME__js/zepto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(".iphone").css("height",$(window).height() )
</script>
</html>
