<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>江湖令牌</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
    <link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
</head>
<body>
<div class="iphone">
<div id="token">
    <div class="token">
        <img src="__HOME__images/x18.png" alt="" />
    </div>

    <div class="invit xs">
        <img src="__HOME__images/20.png"/>
    </div>

    <div class="pass">
        <form action="{:U('Token/index')}" method="post" class="cf">
            <input type="text" name="phone" id="" placeholder="请输入手机号"/>
            <input type="text" name="tok_num" id="" placeholder="请输入江湖令通关码"/>
            <input type="submit" value="确定" class="btn"/>
        </form>
    </div>

    <!--<div class="level">-->
        <!--<img src="__HOME__images/token.png"/>-->
    <!--</div>-->

    <a href="https://weidian.com/item_classes.html?userid=209742480&c=110006843&des=%E6%B1%9F%E6%B9%96%E4%BB%A4%C2%B7%E4%BD%A9%E9%A5%B0%E4%B8%93%E5%8C%BA" class="invit sm">
        <img src="__HOME__images/21.png"/>
    </a>
</div>
</div>
</body>
<script src="__HOME__js/zepto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(".iphone").css("height",$(window).height() );
    $(".invit").on("click",function(){
        var href = $(this).attr("href")
        console.log(href,window.parent.location)
        window.parent.location.href = href
//		$(window,window.parent.document).Location = href;
        return false;
    })
</script>
<script>
    $(function(){
        getHistory();
        var flag = false;
        setTimeout(function(){
            flag = true;
        },1000);
        window.addEventListener('popstate',function(e){
            if(flag){
                window.location = 'http://wap.manjianghu.com/index.php/Home/User/index.html';
            }
            getHistory();
        },false);
        function getHistory(){
            var state = {
                title : 'title',
                url : '#'
            };
            window.history.pushState(state,'title','#');
        }
    });
</script>
</html>
