<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的令牌</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
   		<link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
   		<link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
	</head>
	<style type="text/css">
		.level{
			width: 45%;
			margin: 20px auto;
		}
		
		#token .btn{
			height: auto;
			line-height: 25px;
			padding: 5px 0;
		}
	</style>
	<body>
	<div class="iphone">
		<div id="token">
			<div class="token">
				<img src="__HOME__images/x18.png" alt="" />
			</div>
			
					
			<div class="level active">
				<img src="__HOME__images/token.png"/>
			</div>
			
			
			<a href="#" class="btn">
				<p>{$data.tok_num}</p>
				<p><?php
					switch($data['tok_level']){
						case 1: echo "欢喜令";break;
						case 2: echo "义士令";break;
						case 3: echo "英雄令";break;
						case 4: echo "大侠令";break;
						case 5: echo "大谦令";break;
					}
				?></p>
			</a>
		</div>
	</div>
	</body>
	<script src="__HOME__js/zepto.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
        $(".iphone").css("height",$(window).height() )
	</script>
	<script>
        $(function(){
            getHistory();
            var flag = false;
            setTimeout(function(){
                flag = true;
            },1000);
            window.addEventListener('popstate',function(e){
                if(flag){
                    window.location = 'http://wap.manjianghu.com/index.php/Home/User/index.html';
                }
                getHistory();
            },false);
            function getHistory(){
                var state = {
                    title : 'title',
                    url : '#'
                };
                window.history.pushState(state,'title','#');
            }
        });
	</script>
</html>

