<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的令牌</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
   		<link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
   		<link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
	</head>
	<style type="text/css">
		.level{
			width: 45%;
			margin: 20px auto;
		}
		
		#token .btn{
			height: auto;
			line-height: 25px;
			padding: 5px 0;
		}
	</style>
	<body>
		<div id="token">
			<div class="token">
				<img src="__HOME__images/x18.png" alt="" />
			</div>
			
					
			<div class="level active">
				<img src="__HOME__images/token.png"/>
			</div>
			
			
			<a href="#" class="btn">
				<p>1324635</p>
				<p>大谦令</p>
			</a>
		</div>
		
	</body>
</html>
