<extend name="Common/common" />
<block name="custom">
	<link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
</block>
<block name="content">
	<ul class="card-list">
		<li>
			<h5>什么是江湖？</h5>
			<div class="card-img" style="background: url(images/a2.jpg) no-repeat center center;"></div>
			<p>江湖是一个团体的代名词......<span class="fr">09月06日</span></p>
			<a href="story1.html">阅读全文 <i class="right"></i></a>
		</li>

		<li>
			<h5>什么是江湖？</h5>
			<div class="card-img" style="background: url(images/a2.jpg) no-repeat center center;"></div>
			<p>江湖是一个团体的代名词......<span class="fr">09月06日</span></p>
			<a href="story1.html">阅读全文 <i class="right"></i></a>
		</li>

		<li>
			<h5>什么是江湖？</h5>
			<div class="card-img" style="background: url(images/a2.jpg) no-repeat center center;"></div>
			<p>江湖是一个团体的代名词......<span class="fr">09月06日</span></p>
			<a href="story1.html">阅读全文 <i class="right"></i></a>
		</li>

		<li>
			<h5>什么是江湖？</h5>
			<div class="card-img" style="background: url(images/a2.jpg) no-repeat center center;"></div>
			<p>江湖是一个团体的代名词......<span class="fr">09月06日</span></p>
			<a href="story1.html">阅读全文 <i class="right"></i></a>
		</li>
	</ul>
</block>