<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>江湖须知</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="__HOME__css/public.css"/>
	<link rel="stylesheet" type="text/css" href="__HOME__css/style.css"/>
</head>

<body>
	<ul class="card-list">
		<volist name="list" id="vo">
		<li>
			<h5>{$vo.title}</h5>
			<div class="card-img" style="background: url(__ROOT__/{$vo.picture}) no-repeat center center;"></div>
			<p>{$vo.introduction}<span class="fr">{$vo.add_time|date='m-d',###}</span></p>
			<a href="{:U('Notice/show',array('id'=>$vo['news_id']))}">阅读全文 <i class="right"></i></a>
		</li>
		</volist>
	</ul>
</body>
</html>